<div class="col-xl-12">
    <div class="card">
        <div class="card-body">
            <h4 class="box-title">Admin </h4>
            <div class="float-right" style="margin-top:-30px">
                <button type="button" class="btn btn-success mb-1" data-toggle="modal" data-target="#largeModal">
                    Add Admin
                </button>
            </div>
        </div>


        <div class="card-body--">
            <div class="table-stats order-table ov-h">
                <table class="table ">
                    <thead>
                        <tr>
                            <th class="serial">#</th>
                            <th class="avatar">Username</th>
                            <th>Gender</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="serial">1.</td>
                            <td>
                                Eliazino
                            </td>
                            <td> Male </td>
                            <td>  <span class="name">Elias Akin</span> </td>
                            <td> <span class="product">akin.elias@gmail.com</span> </td>
                            <td><span >+2348123456781</span></td>
                            <td>
                                <span class="badge badge-complete">Complete</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="serial">2.</td>
                            <td>
                                Penkelemesi
                            </td>
                            <td> Male </td>
                            <td>  <span class="name">Tade Akinade</span> </td>
                            <td> <span class="product">tade@gmail.com</span> </td>
                            <td><span >+2348032457891</span></td>
                            <td>
                                <span class="badge badge-complete">Complete</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="serial">3.</td>
                            <td>
                                Sharpbhoi
                            </td>
                            <td> Female </td>
                            <td>  <span class="name">Catherine Dixon</span> </td>
                            <td> <span class="product">catbhoi@yahoo.co.uk</span> </td>
                            <td><span >+2347035423113</span></td>
                            <td>
                                <span class="badge badge-complete">Complete</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="serial">4.</td>
                            <td >
                                Popone
                            </td>
                            <td> Male </td>
                            <td>  <span class="name">Mary Silva</span> </td>
                            <td> <span class="product">silva@gmail.com</span> </td>
                            <td><span >+2349045698090</span></td>
                            <td>
                                <span class="badge badge-pending">Pending</span>
                            </td>
                        </tr>
                        <tr class=" pb-0">
                            <td class="serial">5.</td>
                            <td>
                                Darl
                            </td>
                            <td> Male </td>
                            <td>  <span class="name">Johnny Stephens</span> </td>
                            <td> <span class="product">Sensima@gmail.com</span> </td>
                            <td><span >+2347025798099</span></td>
                            <td>
                                <span class="badge badge-complete">Complete</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- /.table-stats -->
        </div>
    </div> <!-- /.card -->
</div>
